<div class='main'>
	<div id='picFrame'>
		<% if @current_image %>
			<%= image_tag @current_image.image %>
		<%end%>
	</div>
<!--   <% if @photo_id %>
    <input id="photo-id" type="hidden" value="<%=photo_id %>">
  <% end %> -->
</div>